<div class="box box-success">
  <div class="box-header">
  
  </div>

  <div class="box-body table-responsive no-padding">
    <table id="paginated-table" class="table table-hover">
      <thead>
        <tr role="row">
          <th>Máquina</th>
          <th>Descripcion</th>
          <th>Programado para</th>
          <th>Dias restantes</th>
          <th width="1"></th>
        </tr>
      </thead>
      <tbody>
          <%= render 'maintenance_notifications' %>
      </tbody>
    </table>
  </div>
</div>