<div class="box box-success">
  <div class="box-header">
    <div class="box-tools">
      <%= link_to "Nuevo Usuario",new_user_path ,class:"btn bg-green btn-flat"%>
    </div>
  </div>

  <div class="box-body table-responsive no-padding">
    <table id="user-table" class="table table-hover">
      <thead>
        <tr role="row">
          <th class="thumb-td" width="350"></th>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Correo</th>
          <th width="1"></th>
        </tr>
      </thead>
      <tbody>
          <%= render users %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#user-table').DataTable({
      "info":     false,
      "pageLength": 12,
      "lengthChange": false,
      "dom": 'frt<"text-center"p>',
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
      }
    });
  } );
</script>