<div class="col-md-12" , style= "border: thin dotted black">
  <div class="form-group col-md-6">
    <%= f.label :key, "Llave" %>
    <%= f.text_field :key, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :value, "Valor" %>
    <%= f.text_field :value, class: "form-control" %>
  </div>
</div>
