<div class="form-group">
  <%= f.label :key, "Llave" %>
  <%= f.text_field :key, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :value, "Valor" %>
  <%= f.text_field :value, class: "form-control" %>
</div>
