<tr class="nested-fields">  
   <td><%= f.text_field :key, label: false, class: "form-control" %></td>
   <td><%= f.text_field :value, label: false, class: "form-control" %></td>
   <td>
      <%= link_to_remove_association "Eliminar", f, class: 'btn btn-danger' %>
   </td>
</tr>