<tr>
	<td><%= product_category.name %></td>
	<td>
		<div class="input-group-btn">
			<%= link_to edit_product_category_path(product_category), class: "btn bg-blue btn-flat" do %>
				<span class="fa fa-pencil"></span>
				<font>Editar</font>
			<% end %>

			<%= button_tag class: "btn bg-red btn-flat", "data-deletion-path": product_category_path(product_category) do %>
				<span class="fa fa-trash"></span>
				<font>Borrar</font>
			<% end %>
		</div>
	</td>
</tr>
