<tr class="nested-fields">  
   <td>     
      <%= f.select :product_id, Product.pluck(:name, :id), {:style => "width:300px" }, class: "form-control", id:  "products-list" %>
   </td>
   <td><%= f.number_field :quantity, label: false %></td>
   <td>
      <%= link_to_remove_association "Eliminar", f, class: 'btn btn-danger' %>
  </td>
</tr>