<tr>
	<td><%= machine_section.name %></td>
	<td>
		<div class="input-group-btn">
			<%= link_to machine_section, class: "btn bg-purple btn-flat" do %>
			<span class="fa fa-file-text"></span>
			<font>Ver</font>
			<% end %>

			<%= link_to edit_machine_section_path(machine_section), class: "btn bg-blue btn-flat" do %>
				<span class="fa fa-pencil"></span>
				<font>Editar</font>
			<% end %>

			<%= link_to machine_section, class: "btn bg-red btn-flat", method: :delete, data: { confirm: "¿Seguro que deseas borrar #{machine_section.name}?" } do %>
				<span class="fa fa-trash"></span>
				<font>Borrar</font>
			<% end %>
		</div>
	</td>
</tr>
