<div class= "box box-primary">
<form role= "form">
  <%= form_for(machine) do |f| %>
    <div class="form-group">
      <%= f.label :name, "Modelo" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  <% end %>
</form>
</div>
