<div class= "col-sm-5">
  <div id= "example2_info" class= "dataTables_info" role= "status">Showing all for now</div>
</div>
<div class= "col-sm-7">
  <div id= "example2_paginate" class= "dataTables_paginate paging_simple_numbers">
    <ul class= "pagination">
    </ul>
  </div>
</div>
