<section class = "content-header">
	<h1>
		Toda la Maquinaria
	</h1>
</section>
<section class = "content">
	<div class = "row">
		<div class = "col-xs-12">
			<%=render partial: "machine_tables", locals:{machines: @machines}%>
		</div>
	</div>
</section>
