<section class ="content-header" >
  <h1>
    Nueva Maquinaria
    <small><%=@machine.tipe%></small>
  </h1>
</section>
<section class = "content">
  <%=render partial: "form", locals:{machine: @machine} %>
</section>
