<section class ="content-header" >
  <h1>
    <%=@machine.name%>
    <small><%=@machine.tipe%></small>
  </h1>
</section>
<section class = "content">
  <div class= "row">
    <div class= "col-md-6">
      <div class= "box box-info">
        <div class= "box-header with-border">
          <h3 class= "box-title">Por favor llenar todas las casillas</h3>
          <%= render partial: "form", locals: {machine: @machine}%>
        </div>
      </div>
    </div>
  </div>
</section>
