<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <!-- start EQUIPOS -->
                <li class="header">EQUIPOS</li>

                <li class="active">
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>Categor&iacute;as</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>Tipos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>Marcas</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>M&aacute;quinas</span>
                    </a>
                </li>
            <!-- end EQUIPOS -->

            <!-- start EQUIPOS -->
                <li class="header">EQUIPOS</li>

                <li class="active">
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>Categor&iacute;as</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>Tipos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>Marcas</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>M&aacute;quinas</span>
                    </a>
                </li>
            <!-- end EQUIPOS -->
            <!-- start INVENTARIOS -->
                <li class="header">INVENTARIOS</li>
            <!-- end INVENTARIOS -->

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>