<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">OPCIONES</li>

            <li class="active">
                <%= link_to root_path do %>
                    <i class="fa fa-home"></i>
                    Inicio
                <% end %>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>Equipos</span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#">Categor&iacute;as</a></li>
                    <li><a href="#">Tipos</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><%=link_to "Máquinas",machines_path%></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span>Inventarios</span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Piezas</a></li>
                    <li><a href="#">Repuestos</a></li>
                    <li><a href="#">Entrada de inventario</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span>Mantenimiento</span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#">Ingresar kilometraje</a></li>
                    <li><a href="#">Nuevo mantenimiento correctivo</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-text"></i>
                    <span>Reportes</span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#">Durabilidad de repuestos</a></li>
                    <li><a href="#">Historial de mantenimientos</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Configuraciones</span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#">Crear usuario</a></li>
                    <li><a href="#">Notificaciones</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
